/**
 * WordPress dependencies
 */
import { __ } from '@wordpress/i18n';
import { useBlockProps } from '@wordpress/block-editor';

/**
 * Internal dependencies
 */
import './editor.scss';

export default function Edit({}) {
  return (
    <div {...useBlockProps()}>
      <h1>{__('Hello World', '{{pluginSlug}}')}</h1>
    </div>
  );
}
